header {
    display:flex;
    justify-content: flex-start;
    height:auto !important;
    overflow:hidden;
    padding:20px 0px 0px 0px;
    margin:0 auto;

}

@media(max-width:600px) {
    header {
        .logo{
            width:100%;
            img {
                display:block;
                margin:0 auto;
            }
        }
        
    }
}