nav{
    display:flex;
    width:100%;
    height:auto;
    overflow:hidden;
    justify-content: flex-start;
    margin:30px 0 0px 0;
    .__tabs {
        display:flex;
        width:40%;
        justify-content: flex-start;
        align-items: center;
        .__tabs--content {
            width:47%;
            padding:20px 0px 20px 60px;
            text-align: left;
            font-size:30px;
            font-weight:bold;
            text-transform:uppercase;
            line-height:3.5vh;
            margin:0px 3% 0px 0px;

            background-position:left 10px top 70%;
            background-repeat:no-repeat;
            background-size:35px 35px;
            &.__cars {
                background-image:url('../../../assets/images/car-black.png');
                &.active {
                    background-image:url('../../../assets/images/car-red.png') !important;
                    color:#CA2430;
                }
            }
            &.__motos {
                background-image:url('../../../assets/images/moto-black.png');
                &.active {
                    background-image:url('../../../assets/images/moto-red.png') !important;
                    color:#CA2430;
                }
            }
            cursor:pointer;
            transition: all 0.3s;
            &.active {
                color:#CA2430;
            }
            &:first-line {
                font-size:11px;
                font-weight:normal;
                color:#282c34 !important;
            }
            &:hover{
                transition: all 0.2s;
                border-bottom:2px solid #CA2430;
            }
            
            
        }

    }
    .__sell {
        width:60%;
        display:flex;
        justify-content: flex-end;
        align-items: center;
        button {
            padding:20px;
            background-color:transparent;
            font-weight:bold;
            border:2px solid #D8B16B;
            color:#D8B16B;
            text-transform:uppercase;
            
        }
    }
}

@media(max-width:600px) {
    nav {
        flex-direction: column;
        .__tabs {
            width:100% !important;
            .__tabs--content {
                background-position:left 10px top 70%;
                background-repeat:no-repeat;
                background-size:35px 35px;
            }
        }
        .__sell {
            margin-top:20px;
            margin-bottom:20px;
            width:100%;
        }
        button {
            padding:5px !important;
            background-color:transparent;
            font-weight:bold;
            border:2px solid #D8B16B;
            color:#D8B16B;
            text-transform:uppercase;
            margin:0 auto !important;
            width:80%;
            
        }
    }
}